@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* Define variables */
:root {
  --violet: #5d58ef;
}

.quicksand-main {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.raleway-second {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;

  /* width: 1440rem; */
}

.flex {
  display: flex;
}

body {
  /* max-width: 90rem; */
  font-family: "Quicksand", sherif;
}

.btn-primary button {
  background-color: black;
  color: white;
  border-radius: 12px;
  padding: 10px;
  font-weight: 700;
  line-height: 30px;
  padding: 10px 47px;
}

/* 
-------------------------------------------------------------------
>>>>>>>>>>>>>>>>>>>>>>>>SECTION>>>>>>>>>NAV
-------------------------------------------------------------------
*/

nav {
  max-height: 72.5rem; /* Matches Figma height (converted to rem) */
  max-width: 100%;
  justify-content: space-between;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  align-items: center;
  margin-right: 9rem;
  margin-left: 9rem;
  /* margin: 0 auto; */
}

nav .logo {
  justify-content: center;
  align-items: center;
  gap: 0.6875rem;
}

nav .nav-list {
  list-style-type: none;
  justify-content: center;
  gap: 2rem;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

nav .nav-btn {
  width: 12.3rem;
}

nav .nav-btn button {
  color: white;
  background-color: orange;
  border-radius: 0.75rem;
  border-style: none;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-right: 60.5px;
  padding-left: 60.5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

nav .hamburger {
  display: none;
}

/* 
-------------------------------------------------------------------
>>>>>>>>>>>>>>>>>>>>>>>>SECTION>>>>>>>>>HERO
-------------------------------------------------------------------
*/

.hero-container {
  gap: 3.125rem;
  margin-right: 9rem;
  margin-left: 9rem;
  max-width: 100%;
  justify-content: center;
}

.hero-content {
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.hero-content h1 {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 3.8125rem;
}

.hero-content p {
  font-weight: 400;
  font-size: 1.25rem;
  /* line-height: 61px; */
}

/* 
-------------------------------------------------------------------
>>>>>>>>>>>>>>>>>>>>>>>>SECTION>>>>>>>>>CURRICULUM
-------------------------------------------------------------------
*/

.curriculum {
  margin-top: 5rem;
  max-width: 100%;
  margin-right: 9rem;
  margin-left: 9rem;
  flex-direction: column;
}

.curriculum h2,
.stories h2 {
  font-weight: 700;
  font-size: 2.875rem;
  line-height: 3.625rem;
  text-align: center;
}

.curriculum .cards {
  margin-top: 5rem;
  /* width: 100%; */
  gap: 1.75rem;
  justify-content: center;
  /* background-color: gray; */
}

.curriculum .card {
  flex-direction: column;
  justify-content: center;
  min-width: 22.99rem;
  height: 29.8125rem;
  background-color: beige;
  text-align: center;
  gap: 2rem;
  border-radius: 1.25rem;
}

.curriculum .card h3 {
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 2rem;
}

.curriculum .card p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 2rem;
  color: #808080;
  /* font-family: "Raleway", serif; */
}

.curriculum .card h4 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 2rem;
}

.curriculum .slider {
  /* background-color: gray; */
  gap: 0.625rem;
  justify-content: center;
  margin-top: 5rem;
  align-items: center;
}

.curriculum .slider button {
  border-radius: 2rem;
  background-color: orange;
  padding: 1rem 1.25rem 1rem 1.25rem;
  margin-bottom: 3.75rem;
}

/* 
-------------------------------------------------------------------
>>>>>>>>>>>>>>>>>>>>>>>>SECTION>>>>>>>>>STORIES
-------------------------------------------------------------------
*/

.stories {
  margin-top: 4.5rem;
  max-width: 100%;
  margin-right: 9rem;
  margin-left: 9rem;
}

.stories .cards {
  display: grid;
  gap: 10px;
  justify-content: center;
  grid-template-areas:
    "card-1 card-2 card-3"
    "card-1 card-4 card-5";
  width: 100%;
  height: 39.4rem;
}

.stories .cards img {
  display: block;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.stories .cards h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
}

.stories .cards .card {
  border-radius: 1rem;
}

.stories .card-1 {
  grid-area: card-1;
  width: 33.75rem;
  background-color: lightcoral;
}

.stories .card-1 h2 {
  margin-top: 59px;
  margin-bottom: 48px;
  padding-right: 39px;
  padding-left: 39px;
  text-align: left;
}

.stories .card-1 p {
  padding-right: 39px;
  padding-left: 39px;
}

.stories .card-2 {
  grid-area: card-2;
  background-color: lightblue;
}

.stories .card-3 {
  grid-area: card-3;
  background-color: lightgreen;
}

.stories .card-4 {
  grid-area: card-4;
  background-color: lightgoldenrodyellow;
}

.stories .card-5 {
  grid-area: card-5;
  background-color: lightpink;
}

/*




-------------------------------------------------------------------
>>>>>>>>>>>>>>>>>>>>>>>>SECTION>>>>>>>>>FOOTER
-------------------------------------------------------------------
*/

footer {
  background: skyblue;
  padding-bottom: 11.25rem;
  padding-top: 7.5rem;
  padding-left: 8.75rem;
  padding-right: 8.75rem;
  margin-top: 5rem;
  max-width: 100%;
}

.footer-container {
  /* max-width: 1070px; */
  max-width: 100%;
  /* margin-right: 9rem;
  margin-left: 9rem; */
  /* justify-content: center; */

  /* background: skyblue; */
  /* color: white; */
}

.footer-title-box {
  gap: 0.625rem;
}

.footer-container .footer-title-box h1 {
  font-weight: 700;
  font-size: 2.625rem;
  line-height: 2.5rem;
  color: white;

  /* background-color: black; */
}

.footer-container .footer-title-box .footer-img-container {
  /* height: 100%; */
  height: 5rem;
  width: 5rem;
}

footer .footer-title-box .footer-img-container img {
  /* height: 100%; */
  /* object-fit: cover; */
}

.footer-content p {
  font-weight: 400;
  font-size: 1.25rem;
  color: white;
  margin-top: 2.15rem;

  /* background-color: black; */
}

.footer-content {
  max-width: 30rem;
  margin-right: 10.75rem;
}

.footer-list {
  margin-right: 10.75rem;
  flex-direction: column;
}

.footer-container h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
}

.footer-container .footer-list ul {
  margin-top: 2rem;
  list-style-type: none;
  flex-direction: column;
  gap: 1.25rem;
}

.footer-container .footer-list ul li {
  color: white;
  font-size: 1.25rem;
  font-weight: 400;
}

.footer-container .footer-socials ul {
  list-style-type: none;
  gap: 0.625rem;
}

.socials {
  gap: 0.625rem;
  margin-top: 2rem;
}

/* 
-------------------------------------------------------------------

-------------------------------------------------------------------
>>>>>>>>>>>>>>>>>>>>>>>>RESPONSIVE>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
-------------------------------------------------------------------

-------------------------------------------------------------------
*/
/* width 390px */
@media screen and (max-width: 24.375rem) {
  body {
    margin-left: 16px;
    margin-right: 16px;
  }

  nav .logo h1,
  nav .nav-list,
  nav .nav-btn {
    display: none;
  }

  .hero-container,
  .curriculum .cards,
  .footer-container {
    flex-direction: column;
  }

  /* 
  -------------------------------------------------------------------
  >>>>>>>>>>>>>>>>>>>>>>>>SECTION>>>>>>>>>NAV
  -------------------------------------------------------------------
  */
  nav .logo {
    height: 46px;
    width: 46px;
  }

  nav .hamburger img {
    height: 30px;
    width: 30px;
    /* object-fit: cover; */
  }

  /* 
  -------------------------------------------------------------------
  >>>>>>>>>>>>>>>>>>>>>>>>SECTION>>>>>>>>>HERO
  -------------------------------------------------------------------
  */

  .hero-container {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .hero-img img {
    width: 100%;
  }

  .curriculum {
    justify-content: center;
    align-items: center;
  }

  footer {
    margin: 0px;
    margin-top: 40px;
    padding: 0px;
  }

  .footer-container {
    padding-top: 26px;
    justify-content: center;
    gap: 32px;
    /* align-items: center; */
  }

  .footer-content,
  .footer-list {
    margin: 0px;
  }
}
